{
  "parser": "@babel/eslint-parser",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "airbnb"
  ],
  "parserOptions": {
    "requireConfigFile": false, // Не требует наличие конфигурационного файла Babel
    "babelOptions": {
      "presets": ["@babel/preset-env"] // или другие пресеты, которые вы используете
    }
  },
  "plugins": [
    "react"
  ],  
  "rules": {
   "semi":"off",
   "comma-spacing":"off",
   "no-console":"off",
   "quotes":"off",
   "no-unused-vars":"warn",
   "comma-dangle":"off",
   "no-confusing-arrow":"off"
  }
}
